[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
numpy = "*"
pandas = "*"
requests = "*"
"bs4" = "*"
lxml = "*"
"urllib3" = "*"

[dev-packages]

[requires]
python_version = "3.7"
